################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CFX/obj/
/CFX/bin/
/CFX/.vs/
/.vs/
