################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



# User-specific files
*.suo
*.user
*.sln.docstates
**/.vs

# Build results
**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/[Bb]in/
**/[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
