<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CFXUnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CFXUnitTests.Properties.Settings>
            <setting name="ListenerHandle" serializeAs="String">
                <value>CFX.Test.Listener</value>
            </setting>
            <setting name="ClientHandle" serializeAs="String">
                <value>CFX.Test.Initiator</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>cfxtest</value>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value>cfxtestpassword</value>
            </setting>
            <setting name="CertificateThumbprint" serializeAs="String">
                <value>3faa6b00e8982499bafe87273d3e7647c388bad5</value>
            </setting>
            <setting name="ListenerAddress" serializeAs="String">
                <value>CFXListener</value>
            </setting>
            <setting name="CustomPort" serializeAs="String">
                <value>5672</value>
            </setting>
            <setting name="BrokerHostname" serializeAs="String">
                <value>aishqcfx01v</value>
            </setting>
            <setting name="BrokerExchange" serializeAs="String">
                <value>/exchange/CFXTestExchange</value>
            </setting>
            <setting name="BrokerQueue" serializeAs="String">
                <value>/queue/CFXTestQueue</value>
            </setting>
            <setting name="BrokerUsername" serializeAs="String">
                <value>cfxtest</value>
            </setting>
            <setting name="BrokerPassword" serializeAs="String">
                <value>cfxtest</value>
            </setting>
            <setting name="BrokerVirtualHost" serializeAs="String">
                <value>vhost:CFXTestHost</value>
            </setting>
        </CFXUnitTests.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
